In [1]:
%matplotlib notebook

In [2]:
# Dependencies
import pandas as pd
import numpy as np
import os
import webbrowser
import io
import matplotlib
import matplotlib.pyplot as plt

In [3]:
# Save file path to variable
retail_history_csv = "Datasets/EstUS_Retail_Trade_E-commercehistory.csv"
US_totalrev_2018_2017_csv = "Datasets/US_Retail_Trade_Sales_2018_2017.csv"

In [4]:
# Read with pandas
retail_history_df = pd.read_csv(retail_history_csv)
retail_history_df.head()

,NAICS Code,Unnamed: 1,2018,Unnamed: 3,2017r,Unnamed: 5,2016r,Unnamed: 7,2015r,Unnamed: 9,...,2002,Unnamed: 35,2001,Unnamed: 37,2000,Unnamed: 39,1999,Unnamed: 41,1998,Unnamed: 43
0,NaN,Kind of Business,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce,...,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce
1,NaN,Total Retail Trade ………………………...……………………………………,"5,269,468","519,635","5,053,151","458,916","4,852,958","397,252","4,725,993","346,188",...,"3,128,552","44,623","3,062,268","34,260","2,983,276","27,608","2,803,090","14,490","2,581,762","4,984"
2,441.0,Motor vehicle and parts dealers …………………………...…...,"1,191,321","35,348","1,172,367","32,106","1,140,614","30,739","1,094,112","30,145",...,"818,811","7,059","815,579","5,271","796,210","4,090","764,204","1,704","688,415",382
3,442.0,Furniture and home furnishings stores ……………………...,"116,895","1,533","113,035","1,279","110,404","1,081","106,570",996,...,"94,438",S,"91,484",S,"91,170",S,"84,294",S,"77,412",S
4,443.0,Electronics and appliance stores …………………………......,"100,205","2,056","98,570","2,113","99,043","2,069","103,658","1,930",...,"91,208",NaN,"88,493",NaN,"90,422",NaN,"87,363",NaN,"82,731",NaN

In [5]:
# Clean up DF
retail_history_df = retail_history_df.rename(columns={"Unnamed: 1": "Kind_of_Business",
                                 "2018": "2018 Total",
                                 "Unnamed: 3": "2018 Ecommerce Total",
                                 "2017r": "2017 Total",
                                 "Unnamed: 5": "2017 Ecommerce Total",
                                 "2016r": "2016 Total",
                                 "Unnamed: 7": "2016 Ecommerce Total",
                                 "2015r": "2015 Total",
                                 "Unnamed: 9": "2015 Ecommerce Total",
                                 "2014r": "2014 Total",
                                 "Unnamed: 11": "2014 Ecommerce Total",
                                 "1998": "1998 Total",
                                 "Unnamed: 43": "1998 Ecommerce"
                                 })
retail_history_df.head()

,NAICS Code,Kind_of_Business,2018 Total,2018 Ecommerce Total,2017 Total,2017 Ecommerce Total,2016 Total,2016 Ecommerce Total,2015 Total,2015 Ecommerce Total,...,2002,Unnamed: 35,2001,Unnamed: 37,2000,Unnamed: 39,1999,Unnamed: 41,1998 Total,1998 Ecommerce
0,NaN,Kind of Business,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce,...,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce
1,NaN,Total Retail Trade ………………………...……………………………………,"5,269,468","519,635","5,053,151","458,916","4,852,958","397,252","4,725,993","346,188",...,"3,128,552","44,623","3,062,268","34,260","2,983,276","27,608","2,803,090","14,490","2,581,762","4,984"
2,441.0,Motor vehicle and parts dealers …………………………...…...,"1,191,321","35,348","1,172,367","32,106","1,140,614","30,739","1,094,112","30,145",...,"818,811","7,059","815,579","5,271","796,210","4,090","764,204","1,704","688,415",382
3,442.0,Furniture and home furnishings stores ……………………...,"116,895","1,533","113,035","1,279","110,404","1,081","106,570",996,...,"94,438",S,"91,484",S,"91,170",S,"84,294",S,"77,412",S
4,443.0,Electronics and appliance stores …………………………......,"100,205","2,056","98,570","2,113","99,043","2,069","103,658","1,930",...,"91,208",NaN,"88,493",NaN,"90,422",NaN,"87,363",NaN,"82,731",NaN

In [6]:
# Drop columns we do not need
retail_history_df = retail_history_df.drop(columns=['NAICS Code',
                                                    '2013r',
                                                    'Unnamed: 13',
                                                    '2012r',
                                                    'Unnamed: 15',
                                                    '2011r',
                                                    'Unnamed: 17',
                                                    '2010',
                                                     'Unnamed: 19',
                                                     '2009',
                                                     'Unnamed: 21',
                                                     '2008',
                                                     'Unnamed: 23',
                                                     '2007',
                                                     'Unnamed: 25',
                                                     '2006',
                                                     'Unnamed: 27',
                                                     '2005',
                                                     'Unnamed: 29',
                                                     '2004',
                                                     'Unnamed: 31',
                                                     '2003',
                                                     'Unnamed: 33',
                                                     '2002',
                                                     'Unnamed: 35',
                                                     '2001',
                                                     'Unnamed: 37',
                                                     '2000',
                                                     'Unnamed: 39',
                                                     '1999',
                                                     'Unnamed: 41',
                                                    '2004', 
                                                    'Unnamed: 31',
                                                    '2003', 
                                                    'Unnamed: 33',
                                                    '2002',
                                                    'Unnamed: 35',
                                                    '2001',
                                                    'Unnamed: 37',
                                                    '2000',
                                                    'Unnamed: 39',
                                                    '1999',
                                                    'Unnamed: 41',
                                                   
                                                   ])
retail_history_df.head()

,Kind_of_Business,2018 Total,2018 Ecommerce Total,2017 Total,2017 Ecommerce Total,2016 Total,2016 Ecommerce Total,2015 Total,2015 Ecommerce Total,2014 Total,2014 Ecommerce Total,1998 Total,1998 Ecommerce
0,Kind of Business,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce
1,Total Retail Trade ………………………...……………………………………,"5,269,468","519,635","5,053,151","458,916","4,852,958","397,252","4,725,993","346,188","4,639,440","302,485","2,581,762","4,984"
2,Motor vehicle and parts dealers …………………………...…...,"1,191,321","35,348","1,172,367","32,106","1,140,614","30,739","1,094,112","30,145","1,020,851","27,678","688,415",382
3,Furniture and home furnishings stores ……………………...,"116,895","1,533","113,035","1,279","110,404","1,081","106,570",996,"99,718",793,"77,412",S
4,Electronics and appliance stores …………………………......,"100,205","2,056","98,570","2,113","99,043","2,069","103,658","1,930","105,197","1,780","82,731",NaN

In [21]:
retail_history_df

,Kind_of_Business,2018 Total,2018 Ecommerce Total,2017 Total,2017 Ecommerce Total,2016 Total,2016 Ecommerce Total,2015 Total,2015 Ecommerce Total,2014 Total,2014 Ecommerce Total,1998 Total,1998 Ecommerce
0,Total Retail Trade ………………………...……………………………………,"5,269,468","519,635","5,053,151","458,916","4,852,958","397,252","4,725,993","346,188","4,639,440","302,485","2,581,762","4,984"
1,Motor vehicle and parts dealers …………………………...…...,"1,191,321","35,348","1,172,367","32,106","1,140,614","30,739","1,094,112","30,145","1,020,851","27,678","688,415",382
2,Furniture and home furnishings stores ……………………...,"116,895","1,533","113,035","1,279","110,404","1,081","106,570",996,"99,718",793,"77,412",None
3,Electronics and appliance stores …………………………......,"100,205","2,056","98,570","2,113","99,043","2,069","103,658","1,930","105,197","1,780","82,731",NaN
4,Building mat. and garden equip. and supplies d...,"381,313","2,795","365,622","2,614","348,697","2,327","331,611","1,939","318,352",None,"202,423",25
5,Food and beverage stores …………………………...……………………...,"745,736","4,837","725,137","3,431","699,349","2,371","685,381","1,843","669,165","1,596","416,525",10
6,Health and personal care stores …………………………...…...,"347,454",744,"333,338",None,"327,153",None,"315,244",None,"299,263",None,"129,583",None
7,Clothing and clothing access. stores ………………………...,"268,163","10,981","260,566","9,374","260,050","8,134","255,798","6,970","250,409","5,717","149,151",12
8,"Sporting goods, hobby, musical instrument, and...","81,179","2,617","84,188","2,441","86,483","2,307","85,701","2,103","83,787","2,192","60,441",NaN
9,General merchandise stores …………………………...………………...,"706,298",None,"687,123",None,"675,389",None,"674,889",255,"667,163",199,"351,081",None
10,Miscellaneous store retailers …………………………...………...,"130,130",None,"124,538","4,014","121,572","3,660","119,350","3,341","115,878","2,945","98,369",116
11,Nonstore retailers …………………………...……………………………………...,"696,849","453,584","629,204","400,279","561,412","343,372","509,652","295,888","470,867","257,107","133,904","4,029"
12,Electronic shopping and mail-order houses …...,"611,743","451,635","551,298","398,415","488,840","341,699","433,987","294,345","386,065","255,798","80,297","4,008"

In [22]:
retail_history_df = retail_history_df.drop(rows={'Total Retail Trade ………………………...……………………………………': 'Total Retail Trade'})
retail_history_df.head()

TypeError: drop() got an unexpected keyword argument 'rows'

In [7]:
retail_history_df.head()
# D - Denotes an estimate withheld to avoid disclosing data of individual companies; data are included in higher-level totals.
# S - Estimate does not meet publication standards because of high sampling variability (coefficient of variation is greater than 30%), poor response quality (total quantity response rate is less than 50%), or other concerns about the estimate's quality. Unpublished estimates derived from this table by subtraction are subject to these same limitations and should not be attributed to the U.S. Census Bureau. For a description of publication standards and the total quantity response rate, see https://www.census.gov/about/policies/quality/standards/standardf1.html.

,Kind_of_Business,2018 Total,2018 Ecommerce Total,2017 Total,2017 Ecommerce Total,2016 Total,2016 Ecommerce Total,2015 Total,2015 Ecommerce Total,2014 Total,2014 Ecommerce Total,1998 Total,1998 Ecommerce
0,Kind of Business,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce,Total,E-commerce
1,Total Retail Trade ………………………...……………………………………,"5,269,468","519,635","5,053,151","458,916","4,852,958","397,252","4,725,993","346,188","4,639,440","302,485","2,581,762","4,984"
2,Motor vehicle and parts dealers …………………………...…...,"1,191,321","35,348","1,172,367","32,106","1,140,614","30,739","1,094,112","30,145","1,020,851","27,678","688,415",382
3,Furniture and home furnishings stores ……………………...,"116,895","1,533","113,035","1,279","110,404","1,081","106,570",996,"99,718",793,"77,412",S
4,Electronics and appliance stores …………………………......,"100,205","2,056","98,570","2,113","99,043","2,069","103,658","1,930","105,197","1,780","82,731",NaN

In [8]:
# Drop rows that do not have ecommerce data
#[Estimates are shown in millions of dollars and are based on data from the Annual Retail Trade Survey. Estimates have been adjusted using final results of the 2012 Economic Census.] 
retail_history_df = retail_history_df.drop([0, 8])

In [9]:
retail_history_df = retail_history_df.reset_index(drop=True)

In [10]:
# Replaced S & D, final DataFrame
retail_history_df = retail_history_df.replace({'S': None,
                                               'D': None,
                                              })
retail_history_df

,Kind_of_Business,2018 Total,2018 Ecommerce Total,2017 Total,2017 Ecommerce Total,2016 Total,2016 Ecommerce Total,2015 Total,2015 Ecommerce Total,2014 Total,2014 Ecommerce Total,1998 Total,1998 Ecommerce
0,Total Retail Trade ………………………...……………………………………,"5,269,468","519,635","5,053,151","458,916","4,852,958","397,252","4,725,993","346,188","4,639,440","302,485","2,581,762","4,984"
1,Motor vehicle and parts dealers …………………………...…...,"1,191,321","35,348","1,172,367","32,106","1,140,614","30,739","1,094,112","30,145","1,020,851","27,678","688,415",382
2,Furniture and home furnishings stores ……………………...,"116,895","1,533","113,035","1,279","110,404","1,081","106,570",996,"99,718",793,"77,412",None
3,Electronics and appliance stores …………………………......,"100,205","2,056","98,570","2,113","99,043","2,069","103,658","1,930","105,197","1,780","82,731",NaN
4,Building mat. and garden equip. and supplies d...,"381,313","2,795","365,622","2,614","348,697","2,327","331,611","1,939","318,352",None,"202,423",25
5,Food and beverage stores …………………………...……………………...,"745,736","4,837","725,137","3,431","699,349","2,371","685,381","1,843","669,165","1,596","416,525",10
6,Health and personal care stores …………………………...…...,"347,454",744,"333,338",None,"327,153",None,"315,244",None,"299,263",None,"129,583",None
7,Clothing and clothing access. stores ………………………...,"268,163","10,981","260,566","9,374","260,050","8,134","255,798","6,970","250,409","5,717","149,151",12
8,"Sporting goods, hobby, musical instrument, and...","81,179","2,617","84,188","2,441","86,483","2,307","85,701","2,103","83,787","2,192","60,441",NaN
9,General merchandise stores …………………………...………………...,"706,298",None,"687,123",None,"675,389",None,"674,889",255,"667,163",199,"351,081",None
10,Miscellaneous store retailers …………………………...………...,"130,130",None,"124,538","4,014","121,572","3,660","119,350","3,341","115,878","2,945","98,369",116
11,Nonstore retailers …………………………...……………………………………...,"696,849","453,584","629,204","400,279","561,412","343,372","509,652","295,888","470,867","257,107","133,904","4,029"
12,Electronic shopping and mail-order houses …...,"611,743","451,635","551,298","398,415","488,840","341,699","433,987","294,345","386,065","255,798","80,297","4,008"

In [11]:
historyecom_plot_df = retail_history_df.iloc[: , [0, 2, 4, 6, 8, 10, 12]].copy() 
historyecom_plot_df.head()

,Kind_of_Business,2018 Ecommerce Total,2017 Ecommerce Total,2016 Ecommerce Total,2015 Ecommerce Total,2014 Ecommerce Total,1998 Ecommerce
0,Total Retail Trade ………………………...……………………………………,"519,635","458,916","397,252","346,188","302,485","4,984"
1,Motor vehicle and parts dealers …………………………...…...,"35,348","32,106","30,739","30,145","27,678",382
2,Furniture and home furnishings stores ……………………...,"1,533","1,279","1,081",996,793,None
3,Electronics and appliance stores …………………………......,"2,056","2,113","2,069","1,930","1,780",NaN
4,Building mat. and garden equip. and supplies d...,"2,795","2,614","2,327","1,939",None,25

In [12]:
historytotal_plot_df = retail_history_df.iloc[: , [0, 1, 3, 5, 7, 9, 11]].copy()

In [19]:
historytotal_plot_df = historytotal_plot_df.set_index("Kind_of_Business")
historytotal_plot_df

KeyError: "None of ['Kind_of_Business'] are in the columns"

In [14]:
# Plot
year = [2018, 2017, 2016, 2015, 2014, 1998]
totalrev_byproductcategory = {
    'Total Retail Trade': [5269468, 5053151, 4852958, 4725993, 4639440, 2581762],
    'Motor Vehicle & Parts': [1191321, 1172367, 1140614, 1094112, 1020851, 688415],
    'Furniture & Home Stores': [116895, 113035, 110404, 106570, 99718, 77412],
    'Electronics & Appliances': [100205, 98570, 99043, 103658, 105197, 82731],
    'Building Materials & Garden Equip': [381313, 365622, 348697, 331611, 318352, 202423],
    'Food & Beverage': [745736, 725137, 699349, 685381, 669165, 416525],
    'Health & Personal Care': [347454, 333338, 327153, 315244, 299263, 129583],
    'Clothing & Accessories': [268163, 260566, 260050, 255798, 250409, 149151],
    'Sporting Goods, Hobby, Musical Inst., & Books': [81179, 84188, 86483, 85701, 83787, 60441],
    'General Merchandise': [706298, 687123, 675389, 674889, 667163, 351081],
    'Misc. Store Retailers': [130130, 124538, 121572, 119350, 115878, 98369],
    'Nonstore Retailers': [696849, 629204, 561412, 509652, 470867, 133904],
    'Electronic Shopping & Mail-order Houses': [611743, 551298, 488840, 433987, 386065, 80297],
}

fig, ax = plt.subplots()
ax.stackplot(year, totalrev_byproductcategory.values(),
             labels=totalrev_byproductcategory.keys())
ax.legend(loc='upper right')
ax.set_title('Total Revenue by Product Category')
ax.set_xlabel('Year')
ax.set_ylabel('Total Sales (millions)')

plt.show()

In [15]:
retail_history_df.head()

,Kind_of_Business,2018 Total,2018 Ecommerce Total,2017 Total,2017 Ecommerce Total,2016 Total,2016 Ecommerce Total,2015 Total,2015 Ecommerce Total,2014 Total,2014 Ecommerce Total,1998 Total,1998 Ecommerce
0,Total Retail Trade ………………………...……………………………………,"5,269,468","519,635","5,053,151","458,916","4,852,958","397,252","4,725,993","346,188","4,639,440","302,485","2,581,762","4,984"
1,Motor vehicle and parts dealers …………………………...…...,"1,191,321","35,348","1,172,367","32,106","1,140,614","30,739","1,094,112","30,145","1,020,851","27,678","688,415",382
2,Furniture and home furnishings stores ……………………...,"116,895","1,533","113,035","1,279","110,404","1,081","106,570",996,"99,718",793,"77,412",None
3,Electronics and appliance stores …………………………......,"100,205","2,056","98,570","2,113","99,043","2,069","103,658","1,930","105,197","1,780","82,731",NaN
4,Building mat. and garden equip. and supplies d...,"381,313","2,795","365,622","2,614","348,697","2,327","331,611","1,939","318,352",None,"202,423",25

In [20]:
retail_history_df=retail_history_df.astype(float)
retail_history_df = retail_history_df.set_index("Kind_of_Business").plot()

ValueError: could not convert string to float: 'Total Retail Trade ………………………...……………………………………'

In [ ]:
ax = plt.gca()

retail_history_df.plot(kind='line',x='Kind_of_Business',ax=ax)

plt.show()

In [ ]:
# years = [2018, 2017, 2016, 2015, 2014, 1998]

In [ ]:
# # Plot the world average as a line chart
# total_retail, = plt.plot(years, retail_history_df.loc['Total Retail Trade ………………………...……………………………………',["2018 Total", "2018 Ecommerce Total", 
#                                                                              "2017 Total", "2017 Ecommerce Total", 
#                                                                              "2016 Total", "2016 Ecommerce Total", 
#                                                                              "2015 Total", "2015 Ecommerce Total", 
#                                                                              "2014 Total", "2014 Ecommerce Total", 
#                                                                              "1998 Total", "1998 Ecommerce"]], color="blue", label="Total Retail Trade Sales" )

# # Plot the unemployment values for a single country
# motor_vehicles, = plt.plot(years, retail_history_df.loc['Motor vehicle and parts dealers',["2018 Total", "2018 Ecommerce Total", 
#                                                                              "2017 Total", "2017 Ecommerce Total", 
#                                                                              "2016 Total", "2016 Ecommerce Total", 
#                                                                              "2015 Total", "2015 Ecommerce Total", 
#                                                                              "2014 Total", "2014 Ecommerce Total", 
#                                                                              "1998 Total", "1998 Ecommerce"]], color="green",label="Motor Vehicles & Parts" )

# # Create a legend for our chart
# plt.legend(handles=[world_avg, country_one], loc="best")

# # Show the chart
# plt.show()

In [ ]:
US_totalrev_df = pd.read_csv(US_totalrev_2018_2017_csv)
US_totalrev_df.head()

In [ ]:
# Drop Columns
US_totalrev_df = US_totalrev_df.drop(columns=['Unnamed: 0'])
US_totalrev_df.head()

In [ ]:
# Rename columns
US_totalrev_df = US_totalrev_df.rename(columns={"2018 E-commerce": "2018 Total ecommerce",
                                                "2017 Revised \nTotal Sales": "2017 Total Sales",
                                                "2017 Revised \nE-commerce": "2017 Total ecommerce",
                                                "Percent Distribution\nof E-commerce Sales 2018": 'Percent Distribution of ecommerce 2018'
                                                 })
US_totalrev_df.head()

In [ ]:
# Removing first row
US_totalrev_df = US_totalrev_df.drop([0, 1])

In [ ]:
# Reset Index
US_totalrev_df = US_totalrev_df.reset_index(drop=True)

In [ ]:
US_totalrev_df = US_totalrev_df.set_index("Industry")

In [ ]:
# Final DataFrame
# Need two separate dataframes for plotting
US_totalrev_df = US_totalrev_df.replace({'S': None})
US_totalrev_df

In [ ]:
# Totals df for plotting
# Non-store retail = do not have brick and mortar stores
total_plot_df = US_totalrev_df.iloc[: , [0, 1, 2, 3]].copy() 
total_plot_df

In [ ]:
totalrev_plot_df = pd.DataFrame({
    "2018 Total Sales":[1191321, 116895, 100205, 381313, 745736, 347454, 503925, 268163, 81179, 706298, 130130, 696849, 611743],
    "2018 Total Ecommerce Sales":[35348, 1533, 2056, 2795, 4837, 744, 0, 10981, 2617, 0, 0, 453584, 451635],
    "2017 Total Sales":[1172367, 113035, 98570, 365622, 725137, 333338, 459463, 260566, 84188, 687123, 124538, 629204, 551298],
    "2017 Total Ecommerce Sales":[32106, 1279, 2113, 2614, 3431, 0, 0, 9374, 2441, 0, 4014, 400279, 398415]
    }, 
    index=["Vehicle", "Furniture", 
           "Electronics", "Building material/Garden equip.",
          "Food & beverage", "Health & Personal", "Gasoline stations", "Clothing",
           "Sporting goods, hobby, musical instrument, and book stores", "General merchandise stores", "Misc. store retailers",
           "Nonstore retailers", "E-shopping and mail-order houses"
          ]
)
totalrev_plot_df.head()

In [ ]:
totalsales2018 = [1191321, 116895, 100205, 381313, 745736, 347454, 503925, 268163, 81179, 706298, 130130, 696849, 611743]
totalecom2018 = [35348, 1533, 2056, 2795, 4837, 744, 0, 10981, 2617, 0, 0, 453584, 451635]
totalsales2017 = [1172367, 113035, 98570, 365622, 725137, 333338, 459463, 260566, 84188, 687123, 124538, 629204, 551298]
totalecom2017 = [32106, 1279, 2113, 2614, 3431, 0, 0, 9374, 2441, 0, 4014, 400279, 398415]
index = ["Vehicle", "Furniture", "Electronics", "Building material/Garden equip.",
         "Food & beverage", "Health & Personal", "Gasoline stations", "Clothing", 
         "Sporting goods, hobby, musical instrument, and book stores", "General merchandise stores", 
         "Misc. store retailers", "Nonstore retailers", "E-shopping and mail-order houses"]
totalrev_plot_df = pd.DataFrame({'Total Sales 2018': totalsales2018,
                                 'Total Ecommerce Sales 2018': totalecom2018,
                                 'Total Sales 2017': totalsales2017,
                                 'Total Ecommerce Sales 2017': totalecom2017
                                }, index=index)

In [ ]:
axes = totalrev_plot_df.plot.bar(rot=1, subplots=True, color={"Total Sales 2018": "red", "Total Ecommerce Sales 2018": "pink", 
                                                       "Total Sales 2017": "green", "Total Ecommerce Sales 2017": "blue"})
axes[1].legend(loc=2)
axes[1].xlabel(index)
plt.tight_layout()

In [ ]:
# Plot
plt.figure(figsize=(10,8))
totalrev_plot_df.plot(kind="bar", stacked=True)
plt.title("Retail Totals - 2018 & 2017")
plt.xlabel("Industry")
plt.ylabel("Sales in Millions ($)")

labels = []

plt.show()
plt.savefig("Retail Totals, 2018 & 2017.png")

In [ ]:
# Plot
plt.figure(figsize=(10,2))
totalrev_plot_df.plot.bar(kind="barh", stacked=True)
plt.title("Retail Totals - 2018 & 2017")
plt.xlabel("Industry")
plt.ylabel("Sales in Millions ($)")

# Set xticks and lables
xticks = 
xticks(np.arange(0, 1, step=0.2)) 


plt.show()
plt.tight_layout()
plt.savefig("Retail Totals Stacked, 2018 & 2017.png")

In [ ]:
# Line Chart

In [ ]:
# percent change dataframe
percent_plot_df = US_totalrev_df.iloc[: , [4, 5, 6, 7, 8]].copy() 
percent_plot_df

In [ ]:
# total_plot_df=pd.DataFrame({x: range(1,14), 'y1': range(10), 'y2': np.random.randn(10)+range(1,11), 'y3': np.random.randn(10)+range(11,21) })
 
# # multiple line plot
# plt.plot( 'x', 'y1', data=df, marker='o', markerfacecolor='blue', markersize=12, color='skyblue', linewidth=4)
# plt.plot( 'x', 'y2', data=df, marker='', color='olive', linewidth=2)
# plt.plot( 'x',

In [ ]:
# US_perctrev_chart = percent_plot_df.plot(kind="line", title="U.S. Retail Total Sales - In-person and E-Commerce 2018 and 2017")
# US_perctrev_chart.set_xlabel("Gender")
# US_perctrev_chart.set_ylabel("Number of Trips Taken")

# plot.show()
# plot.tight_layout()

In [ ]:
# Bar Chart
total_plot_df['2018 Total Sales'] = pd.to_numeric(total_plot_df['2018 Total Sales'])
US_totalrev_chart = total_plot_df.plot(kind="bar", title="U.S. Retail Total Sales - In-person and E-Commerce 2018 and 2017")
gender_chart.set_xlabel("Gender")
gender_chart.set_ylabel("Number of Trips Taken")

plt.show()
plt.tight_layout()

In [ ]:
# Line Chart